# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/
*.ipynb~

# Virtual envs
.env/
.venv/
env/
venv/
.exoplanets/

# Data
*.fits
*.dat
*.csv

# Output
outputs/
*.png
*.gif
notebooks/check_lines/
notebooks/gif_frames/
notebooks/outputs/

# Logs and system
*.log
.DS_Store

# IDEs
.vscode/
.idea/

